<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Web_Blog</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletArticle</servlet-name>
    <servlet-class>com.webblog.controllers.ServletArticle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletArticle</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletComments</display-name>
    <servlet-name>ServletComments</servlet-name>
    <servlet-class>com.webblog.controllers.ServletComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletComments</servlet-name>
    <url-pattern>/ServletComments/*</url-pattern>
  </servlet-mapping>
</web-app>